include iraclis/__description__.txt
include iraclis/__version__.txt
include iraclis/__url__.txt
include iraclis/__author__.txt
include iraclis/__databases__.pickle
include iraclis/__author_email__.txt
include README.md 
include LICENSE
include requirements.txt
